.statistic__header{
  background: #3A80BA;
  display: flex;
  align-items: center;
  min-height: 72px;
  .statistic__h1{
    margin-left: 130px;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    font-weight: 400;
  }
}
.statistic__footer{
  background: #1C3B55;

}
.footer__container{
  min-height: 57px;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 142%;
  justify-content: space-between;
  h4{
    font-weight: 400;
  }
  h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}
