.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  color: white;
}
ul{
  list-style: none;
  margin: 0;
}
header {
  background: rgb(213, 53, 105);
  background: linear-gradient(90deg, rgba(213, 53, 105, 1) 0%, rgba(216, 109, 95, 1) 35%, rgba(218, 173, 81, 1) 100%);
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  border-bottom: 1px solid white;
}
p{
  margin: 0;
}
.mobile__menu{
  display: none;
}
.quantity{
  display: flex;
  margin-bottom: 5px;
}
.quantity-price{
  margin-left: 5px;
}
.card__body{
  margin-top: 10px;
}
.header__h1 {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.sum{
  display: flex;
  margin-bottom: 15px;
  .sum-title{
    margin-right: 5px;
  }
}
.basket {
  transition: .8s;
  cursor: pointer;
  display: flex;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }
}
.delete__card{
  button{
    transition: 0.5s;
    border-radius:4px;
    background: #E60004;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 5px 7px;
    &:hover{
      transform: scale(1.1);
      background: white;
      border: 1px solid #E60004;
      color: #4c4c4c;
    }
  }
}
#countBasket {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-weight: bold;
  font-size: 11px;
}
.container-basket{
  position: relative;
}
.show-basket{
  position: absolute;
}
.show-basket{
  background: white;
  min-width: 470px;
  top: 55px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 8px;
}
.card__img{
  img{
    max-width: 160px;
  }
}
.hr{
  width: 2px;
  background: #d8d8d8;
  margin: 0 10px;
}
.basket__ul{
  background: white;
  color: #4D4D4D;
  padding: 20px 25px 20px 15px;
  border-radius: 8px;
  background: var(--entry);

  box-shadow: 0 0 25px rgb(0 0 0 / 5%);

  li{
    display: flex;
    margin-bottom: 15px;

 }
}
.description-card h3{
  font-weight:500;
  margin: 0;
}
.hr-card{
  width: 100%;
  height: 1px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.8);
}
.size{
  display: flex;
  margin-bottom: 5px;
  .size-title{
    margin-right: 5px;
  }
}
.header__ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  min-width: 360px;
  margin: 0;


  li {
    a {
      color: white;
      text-decoration: none;
    }
  }

}

.header__ul {

  li {
    transition: 0.8s;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
  }

  li:hover {
    transform: scale(1.1);
    background: #f6e7d4;
    color: #212121;
  }
}

.active-link {

  background: #f6e7d4;

  a {
    color: #212121 !important;
  }
}

@media screen and (max-width: 467px) {

  .header__h1 {
    text-align: right;
    width: 100%;
    margin-right: 15px;
  }
  .mobile__menu{
    display: block;
  }
.header__ul{
  display: none;

}

}
.close {
  position: absolute;
  right: 11px;
  top: 6px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
@keyframes checked-anim {
  50% {
    width: 100%;
    height: 100vh;
  }
  100% {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
@keyframes not-checked-anim {
  0% {
    width: 100%;
    height: 100vh;
  }
}
#menu li a {
  margin: 75px 0 -55px 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  font-size: 24px;
  display: none;

}
#menu li {
  //width: 230px;
  text-align: center;

}
a:focus {
  display: block;
  color: #333;
  background-color: #eee;
  transition: all .5s;
}


#trigger, #burger, #burger:before, #burger:after {
  position: absolute;
  top: 25px;
  left: 25px;
  background: white;
  width: 30px;
  height: 5px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 1;
}
#trigger {
  height: 25px;
  background: none;
}
#burger:before {
  content: " ";
  top: 10px;
  left: 0;
}
#burger:after {
  content: " ";
  top: 20px;
  left: 0;
}
#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu {
  position: absolute;
  top: 0px;
  margin: 0; padding: 0;
  width: 110px;
  height: 110px;
  background: rgba(213, 53, 105,0.9);
  background: linear-gradient(90deg, rgba(213, 53, 105, 0.9) 0%, rgba(216, 109, 95, 0.9) 35%, rgba(218, 173, 81, 0.9) 100%);
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  animation: not-checked-anim .2s both;
  transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu >li >a {
  display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none;
}
