
<div style="margin-top: 100px;" class="container">
  <div class="row">
    <a href="javascript:void(0);" *ngFor="let category of categories" class="col-md-4 card__a">
      <div class="card-categories">
        <h2 class="categories__h3">{{category.name}}</h2>
        <img style="max-width: 100%;height: auto" src="{{category.image}}" alt="">
      </div>
    </a>
<!--    <div class="categories__item">-->
<!--      <ul class="categories__ul">-->
<!--        <li  *ngFor="let category of categories" >-->
<!--          <a href="javascript:void(0)">-->
<!--            <span>{{category.name}}</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>

</div>
