<!--header-->
<header class="main__header">
  <div class="description__header">
    <h3 class="h3">AppCo</h3>
    <h2 class="h2"><span>Brainstorming</span> for desired perfect Usabilit</h2>
    <span class="header_description">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</span>
    <button routerLink="statistic" class="btn btn-white btn__viewsStats">View Stats</button>
  </div>
  <img class="header__mobile" src="assets/header/mobile.png" alt="">
</header>
<!--*header-->
<!--advantages section-->
<section class="advantages">
  <div class="advantages__description">
    <h3>Why <span>small business owners
    love</span> AppCo?
    </h3>
    <span class="advantages__span">Our design projects are fresh and simple and will
      benefit your business greatly. Learn more about our work!
    </span>
  </div>
  <div class="advantages__container">
    <div class="advantages__card">
      <img src="assets/advantages-section/advantages-icon1.svg" alt="advantages-icon">
      <div class="description__card">
        <h4>Clean Design</h4>
        <p>Increase sales by showing true dynamics of your website.</p>
      </div>
    </div>
    <div class="advantages__card">
      <img src="assets/advantages-section/advantages-icon2.svg" alt="advantages-icon">
      <div class="description__card">
        <h4>Secure Data</h4>
        <p>Build your online store’s trust using Social Proof & Urgency.</p>
      </div>
    </div>
    <div class="advantages__card">
      <img src="assets/advantages-section/advantages-icon3.svg" alt="advantages-icon">
      <div class="description__card">
        <h4>Retina Ready</h4>
        <p>Realize importance of social proof in customer’s purchase decision.</p>
      </div>
    </div>
  </div>
</section>
<!--*advantages section-->
<!--managing section-->

<section class="managing">

  <div class="managing__bg">
    <div class="container__managing">
      <div class="description__managing">
        <h3>Start Managing your apps business, more faster</h3>
        <p>Objectively deliver professional value with diverse
          web-readiness. Collaboratively transition wireless customer
          service without<br>
          goal-oriented catalysts for change. Collaboratively.
        </p>
        <button class="btn btn-white">Learn more</button>
      </div>
      <img class="macbook__managing" src="assets/managing-section/macbook.png" alt="">
    </div>

  </div>

</section>
<!--*managing section-->
<!--price section-->
<section class="price">
  <img class="price__bg" src="assets/price-section/price-bg.png" alt="">
  <div class="price__description">
    <h3 class="price__h3"><b>Afforadble Pricing and Packages</b><br>
      choose your best one</h3>
    <p>Monotonectally grow strategic process improvements vis-a-vis integrated resources.</p>
  </div>
  <div class="price__card-grid">
    <div class="price__card">
      <h3 class="price__card__title">Basic</h3>
      <img class="price__card__cover" src="assets/price-section/price-cover1.png" alt="">
      <h3 class="price__card__price">$29</h3>
      <div class="price__card__hr"></div>
      <p class="price__card__description">
        Push Notifications
        Data Transfer
        SQL Database
        Search & SEO Analytics
        24/7 Phone Support
        2 months technical support
        2+ profitable keyword
      </p>
      <button class="price__card__btn">Purchase now</button>
    </div>
    <div class="price__card">
      <h3 class="price__card__title">Standard</h3>
      <img class="price__card__cover" src="assets/price-section/price-cover2.png" alt="">
      <h3 class="price__card__price">$149</h3>
      <div class="price__card__hr"></div>
      <p class="price__card__description">
        Push Notifications
        Data Transfer
        SQL Database
        Search & SEO Analytics
        24/7 Phone Support
        2 months technical support
        2+ profitable keyword
      </p>
      <button class="price__card__btn">Purchase now</button>
    </div>
    <div class="price__card">
      <h3 class="price__card__title">Unlimited</h3>
      <img class="price__card__cover" src="assets/price-section/price-cover3.png" alt="">
      <h3 class="price__card__price">$39</h3>
      <div class="price__card__hr"></div>
      <p class="price__card__description">
        Push Notifications
        Data Transfer
        SQL Database
        Search & SEO Analytics
        24/7 Phone Support
        2 months technical support
        2+ profitable keyword
      </p>
      <button class="price__card__btn">Purchase now</button>
    </div>
  </div>
  <p class="price__more">If you need custom services or Need more? <span>Contact us</span></p>
</section>
<footer>
  <div class="footer__bg">
    <form action="#">
      <div class="form__email">
        <label class="email__input">
          <input placeholder="Enter your email" type="text">
        </label>
        <button class="btn form_submit" type="submit">Subscribe</button>
      </div>
    </form>
    <div class="footer_description">
      <h3>AppCo</h3>
      <p>All rights reserved by ThemeTags</p>
      <p>Copyrights © 2019.</p>
    </div>
  </div>
</footer>
<!--*price section-->
