.categories__h3{
  text-align: center;
  font-size: 30px;
}
.card-categories{
  padding: 28px 15px;
  position: relative;
  transition: 0.1s ease-in-out;
  font-size: 16px;
  margin-bottom: 50px;
  background: var(--entry);
  border-radius: 8px;
  box-shadow: 0 0 25px rgb(0 0 0 / 5%);
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}
.card__a{
  color: #212121;
}
@media screen and (max-width: 467px) {



}
