
.categories__h3{
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
.card-categories{
  padding: 28px 15px;
  position: relative;
  transition: 0.1s ease-in-out;
  font-size: 16px;
  margin-bottom: 50px;
  background: var(--entry);
  border-radius: 8px;
  box-shadow: 0 0 25px rgb(0 0 0 / 5%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &:hover{
    transform: scale(1.1);
  }
}
.card__a{
  color: #212121;
  max-height:190px;
  min-height: 190px;
}
.design__h1{
  font-size: 45px;
  text-align: center;
  margin: 35px 0;
  font-weight: 500;

}
@media screen and (max-width: 991px) {

  .card__a{
    display: block;
  }
  .card-categories{
    flex-direction: column;
  }

}
.search__container{
  margin-bottom: 30px;
  text-align: center;
}
