.product_add{
  color: white;
  height: 100vh;
}
.container-product{
  width: 800px;
  margin: 0 auto;
}
.product_h1{
  margin-top: 35px;
  text-align: center;
}
.product-form{
  display: flex;
  flex-direction: column;
}
