<div class="d-flex">
<nav class="navbar main">
  <mat-list  class="mat-nav-list">
    <mat-list-item><a href="javascript:void(0);">Обнова</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Футболки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Кофты</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Джинсовки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Кожанки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Бомберы</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Спортивные костюм</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Комбинезоны</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Рубашки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Джинсы</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Штаны</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Брюки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Платья</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Юбки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Шорты</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Футболки/майки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Рубашки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Обтягивающие белье</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Спортивные костюмы</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Джинсовки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Куртки</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Спортивные костюмы</a>  </mat-list-item>
    <mat-list-item><a href="javascript:void(0);">Пальто</a>  </mat-list-item>
  </mat-list>
</nav>
<div class="container__main">
  <router-outlet></router-outlet>
</div>
</div>
