<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Order number</th>
    <th scope="col">Date</th>
    <th scope="col">Show more</th>
<!--    <th scope="col">Delete</th>-->
  </tr>
  </thead>
  <tbody *ngIf="orders && orders.orders">
  <tr *ngFor="let order of orders.orders;  let i = index" >
    <th scope="row">{{i+1}}</th>
    <td>{{order.order_num}}</td>
    <td>{{order.order_date_time}}</td>
    <td>
      <button (click)="showMoreToggle = !showMoreToggle" mat-stroked-button color="accent">Details</button>
    </td>
<!--    <td>-->
<!--      <button (click)="deleteOrder(order.id)" mat-stroked-button color="warn">Delete</button>-->
<!--    </td>-->
  </tr>

  </tbody>
</table>
<div [@inOutAnimation] (click)="showMoreToggle =  !showMoreToggle" *ngIf="showMoreToggle" class="placeholder"></div>
<div [@inOutAnimation] style="position: absolute;top: 0; z-index: 999" *ngIf="showMoreToggle">
  <div class="container popup">
    <a (click)="showMoreToggle =  !showMoreToggle" href="javascript:void(0);" class="close"></a>
    <h3 class="details">Orders Details</h3>
    <div class="container__product">
      <div  class="container">
        <ul  class="basket__ul">
          <li>
            <div class="card__img">
              <img src="assets/logo/logo.svg"  alt="">
            </div>
            <div class="hr"></div>
            <div class="description-card">
              <h3>Test</h3>
              <div class="hr-card"></div>
              <div  class="card__body">
                <div class="size">
                  <p class="size-title">Size: </p>
                  <p class="size-price"> 12</p>
                </div>
                <div class="quantity">
                  <p class="quantity-title">Quantity: </p>
                  <p class="quantity-price"> 13</p>
                </div>
                <div class="sum">
                  <p class="sum-title">Sum: </p>
                  <p class="sum-price"> 144</p>
                </div>
                <div class="delete__card">

                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card__img">
              <img src="assets/logo/logo.svg"  alt="">
            </div>
            <div class="hr"></div>
            <div class="description-card">
              <h3>Test</h3>
              <div class="hr-card"></div>
              <div  class="card__body">
                <div class="size">
                  <p class="size-title">Size: </p>
                  <p class="size-price"> 12</p>
                </div>
                <div class="quantity">
                  <p class="quantity-title">Quantity: </p>
                  <p class="quantity-price"> 13</p>
                </div>
                <div class="sum">
                  <p class="sum-title">Sum: </p>
                  <p class="sum-price"> 144</p>
                </div>
                <div class="delete__card">

                </div>
              </div>
            </div>
          </li>
          <li  class="total__price">
            <div class="d-flex flex-alight-center">
              <h3>Sum: 23</h3> <span>EUR</span>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

