.product_add{
  color: white;
  height: 100vh;
}
.container-product{
  width: 800px;
  margin: 0 auto;
}
.product_h1{
  margin-top: 35px;
  text-align: center;
}
.product-form{
  display: flex;
  flex-direction: column;
}
.placeholder{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.popup{
  background: white;
}
.container__product{
  margin-top: 30px;

}
.details{
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}
.h100vh{
  min-height: 100vh
}
.quantity{
  display: flex;
  margin-bottom: 5px;
  margin-right: 10px;
}
.quantity-price{
  margin-left: 5px;
}
.card__body{
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-flow: wrap;
  border-bottom: 1px solid #aaaaaa;
}
.header__h1 {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.sum{
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  .sum-title{
    margin-right: 5px;
  }
}
.basket {
  transition: .8s;
  cursor: pointer;
  display: flex;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }
}
.delete__card{
  width: 100%;
  button{
    transition: 0.5s;
    margin-bottom: 10px;
    border-radius:4px;
    background: #E60004;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 5px 7px;
    &:hover{
      transform: scale(1.05);
      background: white;
      border: 1px solid #E60004;
      color: #4c4c4c;
    }
  }
}
#countBasket {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-weight: bold;
  font-size: 11px;
}
.container-basket{
  position: relative;
}
.show-basket{
  position: absolute;
}
.show-basket{
  background: white;
  min-width: 470px;
  top: 55px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 8px;
}
.card__img{
  display: flex;
  align-items: center;
  img{
    max-width: 160px;
  }
}
.hr{
  width: 2px;
  background: #d8d8d8;
  margin: 0 10px;
}
.basket__ul{
  background: white;
  color: #4D4D4D;

  padding: 20px 25px 20px 15px;
  border-radius: 8px;
  background: var(--entry);

  box-shadow: 0 0 25px rgb(0 0 0 / 5%);

  li{
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    //box-shadow: 0 2px 2px 0 rgb(0 0 0 / 80%);

  }
  li:not(:last-child){
    border-bottom: 1px solid black;
  }
}
.description-card h3{
  font-weight:500;
  margin: 0;
}
.hr-card{
  width: 100%;
  height: 1px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.8);
}
.size{
  display: flex;
  margin-bottom: 5px;
  margin-right: 10px;
  .size-title{
    margin-right: 5px;
  }
}
.header__ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  min-width: 360px;
  margin: 0;


  li {
    a {
      color: white;
      text-decoration: none;
    }
  }

}

.header__ul {

  li {
    transition: 0.8s;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
  }

  li:hover {
    transform: scale(1.1);
    background: #f6e7d4;
    color: #212121;
  }
}

.active-link {

  background: #f6e7d4;

  a {
    color: #212121 !important;
  }
}
.total__price{
  display: flex;
  align-items: center;
  flex-direction: column;
  h3{
    margin: 0;
  }
}
.delete__card {
  .toOrder {
    background: green;
    padding: 10px 10px;
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
