<!--<div class=" form-control search-input">-->
<!--<mat-form-field  class="example-full-width">-->
<!--  <mat-label>Поиск по артикулу</mat-label>-->
<!--  <input [(ngModel)] ="searchSku"  style="color: white" matInput-->
<!--         placeholder="найти продукт">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="container grid-body">-->
<!--  <mat-card style="display: flex;-->
<!--    flex-direction: column;-->
<!--    align-items: center;-->
<!--    position: relative;-->
<!--    justify-content: space-between;-->
<!--    padding-bottom: 50px;"-->
<!--            *ngFor="let product of products | searchProduct:searchSku">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>{{product.title}}</mat-card-title>-->
<!--      <mat-card-subtitle>артикул: {{product.sku}}</mat-card-subtitle>-->
<!--      <mat-card-subtitle>цена: {{product.price}} грн</mat-card-subtitle>-->
<!--      <mat-card-subtitle>размеры:-->
<!--        <ul style="list-style: none;display: flex">-->
<!--          <li class="li-sizes" *ngFor="let size of product.sizes "> {{ size }} </li>-->
<!--        </ul>-->

<!--      </mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <img applazyloadingimg style=" height: auto;max-height: 300px;  max-width: 300px;width: 100%;" mat-card-image src="http://{{product.img}}">-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--       {{product.body}}-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions class="btn__style">-->
<!--      <button (click)="deleteProduct(product.id)" color="warn" mat-raised-button>удалить</button>-->
<!--      <button [routerLink]="['/admin','product',product.id,'edit']" mat-raised-button>редактировать</button>-->
<!--      <button [routerLink]="['/admin','product',product.id,'addImgProduct']" mat-raised-button>добавить картинку</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</div>-->
<div class="container-fluid">
  <div class="row">
    <div *ngIf="auth" class="col-md-2">
      <div class="sidebar bgBar">
        <ul class="sidebar__ul">
          <li>
            <a class="active"
              routerLinkActive="active" [routerLink]="['/account','user','order']"
              mat-button href="javascript:void(0);">Order</a></li>
          <li>    <a  routerLinkActive="active"  [routerLink]="['/account','user','settings']"   mat-button href="javascript:void(0);">Setting</a></li>
          <li>    <a  mat-button href="javascript:void(0);" target="_blank">Delete account</a></li>
        </ul>
      </div>
    </div>
    <div [ngClass]="auth ? 'col-md-10' : 'col-md-12'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

