.grid-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  grid-gap: 20px;
}
.search-input{
  width: 25%;
  margin: 0 auto;
  padding-top: 25px;
}
.btn__style{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80px;
  align-items: center;
}
.li-sizes:not(:last-child){
  &:after{
    content: ', ';
  }
}
.active{
  color: white !important;
  background: #333;;
}
.mt80{
  margin-top: 80px;
}
.sidebar{
  min-height: 100vh;
  position: relative;
}
.sidebar__ul{
  list-style: none;
  font-size: 20px;
  margin-top: 50px;
  min-width: 180px;
  li{
    transition: 0.5s;
    text-align: center;
    margin-bottom: 15px;

    box-shadow: 0 4px 6px -6px #222;

    //background: linear-gradient(160deg, rgba(213, 53, 105, 1) 0%, rgba(216, 109, 95, 1) 35%, rgba(218, 173, 81, 1) 100%);

    cursor: pointer;
    border-radius: 5px;
    &:hover{
      transform: scale(1.05);
    }
    a{
      transition: 0.5s;
      text-decoration: none;
      font-size: 20px;
      width: 100%;
      color: rgba(0,0,0,.87);
      border-radius: 5px;
      padding: 15px 25px;
      &:hover{
        color: white;
        background: #333;;
      }
    }
  }
  color: white;
}
.bgBar{
  //background: rgb(213, 53, 105);
  //background: linear-gradient(300deg, rgba(213, 53, 105, 1) 0%, rgba(216, 109, 95, 1) 35%, rgba(218, 173, 81, 1) 100%);
  position: fixed;
  left: 0;
  z-index: 99;
  padding: 0 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  clip-path: inset(0px -15px 0px 0px);
}

