.placeholder{
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

}
.container-slider{
  position: fixed;
  background: white;
  padding: 15px 15px;
  width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}
.img-style{
  height: auto;
  max-width: 300px;
  width: 100%;
  max-height: 300px;
}
.card-style{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 450px;
  max-height: 450px;
  height: auto;
  justify-content: space-between;
  padding-bottom: 50px;
}
