<div class="product_container">
<mat-card>
  <mat-card-header class="d-flex flex-justify-center">
    <mat-card-title>Card-title</mat-card-title>
    <mat-card-subtitle>Card-subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/main/img00867.jpg" alt="product">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button color="warn" [routerLink]="['/product',12]" mat-raised-button >просмотреть</button>
  </mat-card-actions>
</mat-card>
</div>
