<div class="product_container">
<mat-card style="display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-bottom: 50px;">
  <mat-card-header class="d-flex flex-justify-center">
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-subtitle>артикул: {{product.sku}}</mat-card-subtitle>
    <mat-card-subtitle>цена: {{product.price}} грн</mat-card-subtitle>
  </mat-card-header>
  <img style="height: 35em; max-width: 100%" mat-card-image src="http://{{product.img}}" alt="product">
  <mat-card-content>
    <p>
      {{product.title}}
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button color="warn" [routerLink]="['/product',product.id]" mat-raised-button >заказать</button>
  </mat-card-actions>
</mat-card>
</div>
