<div class="product">
  <div class="header">
    <h1>Product title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
    <div class="info">
      <strong>Тут инфо</strong>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem dolorum ea explicabo id iste nemo nisi sit voluptate.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem dolorum ea explicabo id iste nemo nisi sit voluptate.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem dolorum ea explicabo id iste nemo nisi sit voluptate.</p>
    </div>
  </div>
</div>
