
<div *ngIf="product" style="margin-top: 50px;" class="container-order">
<mat-card style="max-width: 600px;margin: 0 auto" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.description}}</mat-card-title>
    <mat-card-subtitle>артикул: {{product.sku}}</mat-card-subtitle>
    <mat-card-subtitle>цена: {{product.price}}</mat-card-subtitle>
  </mat-card-header>
  <img intrinsicsize="480 x 640" style="width:100%"  applazyloadingimg mat-card-image src="http://{{product.img}}">
  <mat-card-content>
    <p>
   {{product.body}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/" class="btn btn-link">На главную</button>
    <button mat-raised-button>Заказать</button>
  </mat-card-actions>
</mat-card>


</div>
