.grid-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  grid-gap: 20px;
}
.search-input{
  width: 25%;
  margin: 0 auto;
  padding-top: 25px;
}
.btn__style{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80px;
  align-items: center;
}
.li-sizes:not(:last-child){
  &:after{
    content: ', ';
  }
}
