<div class="container grid-body">
  <mat-card style="display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;padding-bottom: 50px;" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>артикул: {{product.sku}}</mat-card-subtitle>
    </mat-card-header>
    <img style="max-height: 350px;width: 100%" mat-card-image src="http://{{product.img}}">
    <mat-card-content>
      <p>
       {{product.body}}
      </p>
    </mat-card-content>
    <mat-card-actions style="position: absolute;bottom: 25px">
      <button (click)="deleteProduct(product.id)" color="warn" mat-raised-button>удалить</button>
      <button mat-raised-button>редактировать</button>
    </mat-card-actions>
  </mat-card>
</div>
