.login_h1 {
  text-align: center;
  padding-top: 10px;

  color: rgba(0,0,0,.87)
}

.form-register {
  width: 600px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.container_login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.style_login{

}

@media screen and (max-width: 510px) {
  .form-register{
    width: 300px;
  }

}
