/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
}
.btn{
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.btn-white{
  background: #ffffff;
  color: #3A80BA;
}
