/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import '~ngx-toastr/toastr';
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
  width: 1170px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}
.d-flex-column{
  flex-direction: column;
}
.flex-space-between{
  justify-content: space-between;
}
.flex-space-around{
  justify-content: space-around;
}
.flex-justify-center{
  justify-content: center;
}
.flex-alight-center{
  align-items: center;
}
.cursorPointer{
  cursor: pointer;
}
.logo-style{
  width: 100px;
  height: 50px;
}
.display-contents{
  display: contents;
}
.mt100FixHeader{
  margin-top: 100px;
}
.flex-end{
  justify-content: flex-end;
}
