.posts-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 100px auto;
}

.navbar{
  background: #333333;
  min-width: 210px;
  padding: 0 15px;
}
.mat-nav-list{
  text-align: center;
}
