.posts-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 100px auto;
}

.navbar{
  background: #58a9fd;
  border-bottom: 1px solid gainsboro;
  min-width: 210px;
  padding: 0 15px;
}
.mat-nav-list{
  text-align: center;
}
.bg-main{
  background-image: url(../../assets/main/lion.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
  flex-direction: column;
}
.mat-nav-list{
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.mat-nav-list .list-header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
