
.bg__home__header{
  background: rgb(213,53,105);
  background: linear-gradient(90deg, rgba(213,53,105,1) 0%, rgba(216,109,95,1) 35%, rgba(218,173,81,1) 100%);
  width: 100%;
  position: relative;
  padding-top: 140px;
  font-family: 'Montserrat', sans-serif;
}
.bg_bottom-svg{
  background: rgb(213,53,105);
  background: linear-gradient(90deg, rgba(213,53,105,1) 0%, rgba(216,109,95,1) 35%, rgba(218,173,81,1) 100%);
}
.bg_bottom-svg svg{
  display: block;
}
.description__header{
  color: white;
  max-width: 450px;
  line-height: 32px;
}
.description__header-p1{
  text-transform: uppercase;
  font-size: 18px;
}
.description__header-p2{

  font-size: 18px;
}
.description__header-h1{
  line-height: 38px;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.description__header-btn{
  border: none;
  transition: .8s;
  color: #212121;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 15px;
  &:hover{
    transform: scale(1.1);
    text-decoration: underline;
  }
}
.title__card h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  color: #060d42;
  margin-bottom: 30px;
}
.title__card{
  margin-top: 45px;
}
.title__hr{
  margin: 0 auto;
  background: linear-gradient(90deg, #d53369 0%, #daae51);
  height: 2px;
  width: 20%;
}
.card__description-h3{
  font-weight: 500;
  font-size: 2em;
  color: #060d42;
}
.card__description{
  max-width: 500px;
  margin-top: 60px;
}
.card__description-p{
  font-size: 17px;
  color: #4b5563;
  line-height: 25px;
  font-weight: 300;
}
.card__description-a{
  font-size: 17px;
  color: #4b5563;
  line-height: 25px;
  font-weight: 300;
  a{

    color: rgba(236,72,153,1);
    font-size: 15px;
    text-decoration: underline;
  }
}
.card__img{
  max-width: 400px;
  height: auto;
  margin: 0 auto;

}
.hr__block{
  height: 1px;
  background: #e6e6e6;
  width: 100%;
  margin: 50px 0;
}
.third__block-top{
  margin-top: 50px;
  margin-bottom: 100px;
}
.card__third-a{
  color: rgba(75,85,99,1);
  display: block;
  padding: 20px;
  box-shadow: 0 0 25px rgb(0 0 0 / 5%);
  p{
    margin: 0;
  }
  h3{
    margin: 0;
  }
  &:hover{
    text-decoration: none;
  }

}
.card_started-bold{
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0 !important;
}
.action{
  button{
    transition: .8s;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    border: none;
    color: white;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 17px;
    margin-top: 65px;
    font-size: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    &:hover{
      transform: scale(1.1);
      text-decoration: underline;
    }
  }

}
.card__description-third{
  font-size: 18px;
  line-height: 24px;
}
.wave-top{
  display: block;
  background: rgb(213,53,105);
  background: linear-gradient(90deg, rgba(213,53,105,1) 0%, rgba(216,109,95,1) 35%, rgba(218,173,81,1) 100%);
}
footer{
  background: rgb(213,53,105);
  background: linear-gradient(90deg, rgba(213,53,105,1) 0%, rgba(216,109,95,1) 35%, rgba(218,173,81,1) 100%);
}
.footer__h1{
  color: white;
  font-size: 3em;
  margin: 0;
  font-weight: 500;
}
.footer__description{
  padding: 50px 0;
}
.footer__container{
  display:flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.footer_btn{
  padding: 20px 30px;
  margin: 0;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
}
.footer__right{
  display: flex;
  align-items: center;
  h3{
    margin: 0;
    font-size: 2em;
    color: white;
    line-height: 35px;
    width: 192px;
  }
}

.iframe__v{
  max-width: 100%;
  min-height: 480px;
}
@media screen and (max-width: 467px) {

  footer{
    display: none;
  }

}
