<nav class="navbar">
  <div class="container">
    <div class="admin__style-container d-flex flex-space-between flex-alight-center">
    <h1 class="logo_nyVladic display-contents">
      <a class="display-contents" routerLink="/">
        <img class="logo-style" src="assets/logo/logo.svg" alt="">
      </a>
    </h1>
    <mat-list  class="admin_nav-list" role="list">
      <mat-list-item class="cursorPointer" routerLinkActive="active" [routerLink]="['/admin','dashboard']" role="listitem">Main</mat-list-item>
      <mat-list-item class="cursorPointer" routerLinkActive="active"  [routerLink]="['/catalog']" role="listitem">Catalog</mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated()" class="cursorPointer" (click)="logout($event)" role="listitem"><a class="admin_logout" href="#" >Logout</a></mat-list-item>
    </mat-list>
    </div>
  </div>
</nav>

<div class="bg_admin_route">
  <router-outlet></router-outlet>
</div>
<ngx-spinner></ngx-spinner>
