<div *ngIf="userStatistic" class="statistic-user">
  <ul class="statistic-user__route">
    <li>
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        Main page
      </a>
    </li>
    <li>
      <a routerLink="/statistic" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        User satistics
      </a>
    </li>
    <li>
      <a routerLink="/statistic/user/{{userId}}" routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact:true}">
        {{userStatistic.first_name}}
      </a>
    </li>
  </ul>
  <h1 class="user__name">{{userStatistic.first_name}}</h1>

</div>
<div class="container__chart">
  <div id="divChart">
    <h2 class="clicks__chart">Clicks</h2>
    <canvas  #myChart  style="height: 290px">
    </canvas>
    <h2 class="clicks__chart views">Views</h2>
    <canvas  #myViews style="height: 290px">
    </canvas>
  </div>
</div>
