<div class="statistic-user">
  <ul class="statistic-user__route">
    <li>
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        Main page
      </a>
    </li>
    <li>
      <a routerLink="/statistic" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        User satistics
      </a>
    </li>
  </ul>
  <div style="min-height: 800px">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <table *ngIf="userStatistic" [@table]="userStatistic" class="table">
    <caption style="text-align: left"><h1 class="statistic-h1">Users statistics</h1></caption>
    <tr>
      <th class="table__id">Id</th>
      <th class="table__name-first">First name</th>
      <th class="table__name-last">Last name</th>
      <th class="table__email">Email</th>
      <th class="table__gender">Gender</th>
      <th class="table__adress">IP address</th>
      <th class="table__click">Total clicks</th>
      <th class="table__page">Total page views</th>
    </tr>

    <tr routerLink="user/{{userStatistic.id}}" *ngFor=" let userStatistic of userStatistic">
      <td>{{userStatistic.id}}</td>
      <td>{{userStatistic.first_name}}</td>
      <td>{{userStatistic.last_name}}</td>
      <td>{{userStatistic.email}}</td>
      <td>{{userStatistic.gender}}</td>
      <td>{{userStatistic.ip_address}}</td>
      <td>{{userStatistic.total_clicks}}</td>
      <td>{{userStatistic.page_views}}</td>
    </tr>

  </table>
  </div>
  <div *ngIf="showPage" class="pagination__container">
    <button [disabled]="disablePrev" (click)="showPrev()" class="btn-show">
      <img class="next"
           src="{{disablePrev?'assets/statistics/arrow-disabled.svg':'assets/statistics/arrow-next.svg'}}"
           alt="">
    </button>
    <ul class="pagination__ul">
      <li class="pagination__btn">
        <button [ngClass]="{'pagination__btn-active':count + index==paginateActiveBtn}"
          *ngFor="let pagination of showPage;let index = index"
          (click)="activeBtn(count + index)"
          >{{count + index}}
        </button>
      </li>
    </ul>

    <button [disabled]="disableNext" (click)="showNext()" class="btn-show">
      <img class="prev"
           src="{{disableNext?'assets/statistics/arrow-disabled.svg':'assets/statistics/arrow-next.svg'}}"
           alt="">
    </button>
  </div>
</div>

